<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
    <head th:fragment="head">
        <meta charset="UTF-8">
        <title th:text="${titulo}">Inicio</title>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/estilo.css">
    </head>
    <body>
        <header th:fragment="header">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" th:href="@{/}">Inicio</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class=" collapse navbar-collapse" id="navbarSupportedContent">
                    <ul sec:authorize="hasRole('VIGILANTE')" class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/Vigilante/mostrarUsuarios}">Mostrar Usuarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/Vigilante/mostrarRegistros}">Registros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/Vigilante/registroSalida}">Salida</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/Vigilante/zonas}">Zona</a>
                        </li>
                    </ul>
                    <ul sec:authorize="hasRole('CLIENTE')" class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/Cliente/mostrarRegistros}">Mostrar Registros</a>
                        </li>
                    </ul>
                    <ul sec:authorize="!isAuthenticated()" class="navbar-nav navbar-right">
                        <li><a class="btn btn-outline-primary" th:href="@{/login}">Inicia sesión</a></li>
                    </ul>
                    <ul th:if="nombreusuario" class="navbar-nav navbar-right">
                        <p th:text="*{nombreusuario}"></p>
                    </ul>

                    <div sec:authorize="isAuthenticated()" class="dropleft">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                th:text="${usuario.getNombre() + ' ' + usuario.getApellido()}">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a sec:authorize="hasRole('VIGILANTE')" class="dropdown-item" th:href="@{/Vigilante/perfil}">Perfil</a>
                            <a class="dropdown-item" th:href="@{/logout}">Cerrar sesión</a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <footer th:fragment="footer" class="fixed-bottom bg-secondary">
            <div class="container">
                <h4 th:text="'Sistema de parqueo de vehículos.'"></h4>
                <p th:text="'IS'"></p>
            </div>
            <div sec:authorize="isAuthenticated() and hasRole('CLIENTE')"  class="container">
                <p th:text="*{usuario.getNombre() + ' ' + usuario.getApellido()}"></p>
            </div>
        </footer>

    </body>
</html>